@page "/products/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
@attribute [Authorize]

<h3>Products View</h3>
<ProductFormComponent product="product" Disabled="true" />

@code {
    [Parameter] public int id { get; set; }
    Product product = new Product();
    protected async override Task OnParametersSetAsync()
    {
        product = await _client.GetFromJsonAsync<Product>($"{Endpoint.ProductsEndpoint}/{id}");
    }
}
